.f{
    height: 150px;
    width: 200px;
}.n{
    font-size: 25px;
    font-family: bolt;
    font-style: oblique;
}.jj{
    font-size: 15px;
    color: black;
}.b{
    height: 150px;
    width: 600px;
}.g{
    font-style: initial;
}.l{
    height: 150px;
    width: 140px;
}
